---
import GithubIcon from '../icons/Github.astro'
const PROJECTS = [
   {
      title: 'Simulación de crédito',
      description: '',
      link: 'https://vue-inmobiliario.netlify.app/',
      github: 'https://github.com/pipevera/desafio-inmobiliario',
      image: '/img/simulacion.png',
      tags: ['HTML', 'CSS', 'JAVASCRIPT', 'TAILWIND', "VUE JS", "API REST"]
   },
   {
      title: 'Astrodev',
      description: '',
      link: 'https://starsdevs.netlify.app/',
      github: 'https://github.com/pipevera/stars',
      image: '/img/astrodev.png',
      tags: ['HTML', 'CSS', 'JAVASCRIPT']
   },
   {
      title: 'CompromisoTech',
      description: '',
      link: 'https://admirable-gecko-18e75a.netlify.app/',
      github: 'https://github.com/pipevera/CompromisoTech',
      image: '/img/compromisoTech.png',
      tags: ['HTML', 'CSS', 'JAVASCRIPT', 'BOOTSTRAP']
   },
   {
      title: 'Incubadora Reworth',
      description: '',
      link: 'https://heroic-cassata-4e6c38.netlify.app/',
      github: 'https://github.com/pipevera/incubadora',
      image: '/img/incubadora.png',
      tags: ['HTML', 'CSS', 'JAVASCRIPT', 'BOOTSTRAP']
   },
   {
      title: 'Racing Performance',
      description: '',
      link: 'https://amazing-almeida-26e6e0.netlify.app/',
      github: 'https://github.com/pipevera/racingPerformance',
      image: '/img/racingPerformance.png',
      tags: ['HTML', 'CSS', 'JAVASCRIPT', 'VUE JS', 'VUETIFY']
   },
   {
      title: 'Travels',
      description: '',
      link: 'https://travels-tailwind.netlify.app/',
      github: 'https://github.com/pipevera/TravelsTailwindcss',
      image: '/img/travels.png',
      tags: ['HTML', 'TAILWIND CSS']
   },
]
---

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:flex-wrap gap-6">
   {  
      PROJECTS.map(({title, description, link, github, image, tags}) => 
      <div class="max-w-sm md:w-60 lg:w-80 rounded-md">
         <a href=`${link}` target="_blank">
            <img class="rounded-md hover:scale-110 transition " src={image} alt="" />
         </a>
         <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
            <p class="mb-3 font-normal text-white">{description}</p>
            <a href={github} class="inline-flex gap-x-1 bg-blue-100 text-blue-800 text-xs md:text-sm  px-2 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 animate-pulse hover:scale-110 transition" target="_blank" rel="noopener" >
               <GithubIcon></GithubIcon>
               github
            </a>
         </div>
      </div>
      )
   }
</div>




